#### 1 Introduction

In [ ]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd

In [ ]:
# Base URL para los chunks
base_url = "https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_"

In [ ]:
# Lista para almacenar los datos de todos los chunks
all_data = []

In [ ]:
# Iterar sobre las 10 páginas
for i in range(1, 11):
    # Construir la URL para cada chunk
    url = f"{base_url}{i}.html"
    print(f"Scraping {url}...")  # Opcional: para monitorear el progreso

    # Hacer la solicitud HTTP
    response = requests.get(url)

    # Parsear el contenido HTML
    soup = BeautifulSoup(response.content, 'html.parser')

    # Encontrar la tabla
    table = soup.find('table')

    # Extraer los encabezados
    headers = [header.text.strip() for header in table.find_all('th')]

    # Extraer las filas de la tabla
    rows = []
    for row in table.find_all('tr'):
        cells = [cell.text.strip() for cell in row.find_all('td')]
        if cells:
            rows.append(cells)

    # Crear un DataFrame temporal
    df = pd.DataFrame(rows, columns=headers)

    # Agregar el DataFrame temporal a la lista de todos los datos
    all_data.append(df)

Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_1.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_2.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_3.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_4.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_5.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_6.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_7.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_8.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_9.html...
Scraping https://ignaciomsarmiento.github.io/GEIH2018_sample/pages/geih_page_10.html...

In [ ]:
# Combinar todos los DataFrames en uno solo
final_data = pd.concat(all_data, ignore_index=True)

In [ ]:
display(final_data)

,,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,sex,age,...,y_viaticos_m,y_accidentes_m,y_salarySec_m,y_ingLab_m_ha,y_gananciaNeta_m,y_gananciaNetaAgro_m,y_gananciaIndep_m,y_gananciaIndep_m_hu,y_total_m,y_total_m_ha
0,1,4514331,1,2,1,BOGOTA,1,2,0,29,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,2,4514331,1,1,1,BOGOTA,1,2,1,36,...,NA,NA,NA,8404.3203125,NA,NA,NA,NA,1620833.25,8404.3203125
2,3,4514332,1,4,1,BOGOTA,1,2,1,4,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,4,4514332,1,3,1,BOGOTA,1,2,1,7,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,5,4514332,1,1,1,BOGOTA,1,2,0,32,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32172,3213,4804454,1,2,1,BOGOTA,12,2,0,24,...,NA,NA,NA,3345.5556640625,NA,NA,NA,NA,1003666.6875,3345.5556640625
32173,3214,4804455,1,1,1,BOGOTA,12,3,0,36,...,5e+05,NA,NA,25958.333984375,NA,NA,NA,NA,6675000,25958.333984375
32174,3215,4804455,1,2,1,BOGOTA,12,3,1,41,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
32175,3216,4804455,1,3,1,BOGOTA,12,3,1,8,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
32176,3217,4804455,1,4,1,BOGOTA,12,3,0,0,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [ ]:
#Lo exporto como csv así no hay que scrappear cada vez que lo abrimos
final_data.to_csv("final_data.csv", index=False)

NameError: name 'final_data' is not defined

In [ ]:
#generar una copia de la base de datos con copy
df_1 = final_data.copy()

In [3]:
#Lo vuelvo a agregar porque no me deja abrirlo desde el colab
df_1 = pd.read_csv("https://raw.githubusercontent.com/dipla70/ML-TP1/main/final_data.csv", sep=",")

# Display the DataFrame to confirm successful loading
display(df_1)

,Unnamed: 0,directorio,secuencia_p,orden,clase,dominio,mes,estrato1,sex,age,...,y_viaticos_m,y_accidentes_m,y_salarySec_m,y_ingLab_m_ha,y_gananciaNeta_m,y_gananciaNetaAgro_m,y_gananciaIndep_m,y_gananciaIndep_m_hu,y_total_m,y_total_m_ha
0,1,4514331,1,2,1,BOGOTA,1,2,0,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,4514331,1,1,1,BOGOTA,1,2,1,36,...,NaN,NaN,NaN,8404.320312,NaN,NaN,NaN,NaN,1.620833e+06,8404.320312
2,3,4514332,1,4,1,BOGOTA,1,2,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4514332,1,3,1,BOGOTA,1,2,1,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,4514332,1,1,1,BOGOTA,1,2,0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32172,3213,4804454,1,2,1,BOGOTA,12,2,0,24,...,NaN,NaN,NaN,3345.555664,NaN,NaN,NaN,NaN,1.003667e+06,3345.555664
32173,3214,4804455,1,1,1,BOGOTA,12,3,0,36,...,500000.0,NaN,NaN,25958.333984,NaN,NaN,NaN,NaN,6.675000e+06,25958.333984
32174,3215,4804455,1,2,1,BOGOTA,12,3,1,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32175,3216,4804455,1,3,1,BOGOTA,12,3,1,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32176,3217,4804455,1,4,1,BOGOTA,12,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Introducción

En este trabajo práctico, nuestro objetivo es construir un modelo de predicción de ingresos por hora individual:

$$
w = f(X) + u
$$

donde $w$ representa el ingreso por hora, y $X$ es una matriz de variables explicativas/predictoras potenciales. Nos centraremos en un modelo lineal de la forma:

$$
\ln(w) = \beta_0 + \beta_1 X_1 + \dots + \beta_p X_p + u
$$

Para evaluar la capacidad predictiva del modelo, dividiremos el conjunto de datos en dos subconjuntos: una parte denominada "live-data "para entrenar el modelo y otra aprte denominada "unseen-data" evaluar su desempeño, siguiendo el método **train-test split** de la librería **SKLearn**. El uso de particiones como 70%-30% o 80%-20% nos permitirá balancear la cantidad de datos destinados al entrenamiento y la evaluación, asegurando a su vez reproducibilidad mediante un **random state**. Este enfoque es particularmente relevante en problemas donde el tamaño de la muestra impacta la precisión del modelo. Al dividir la muestra perderemos eficiencia pero ganamos por el lado de estimar directamente el error de pérdida. Además, incorporaremos técnicas de remuestreo como **bootstrap**, que permiten generar múltiples subconjuntos de datos mediante muestreo aleatorio con reemplazo. Estas técnicas son útiles para estimar la incertidumbre en las predicciones y evaluar la robustez del modelo frente a diferentes particiones de datos.


Para este análisis, utilizaremos datos de Bogotá obtenidos del informe de 2018 *Medición de Pobreza Monetaria y Desigualdad*, basado en la Gran Encuesta Integrada de Hogares (GEIH). Este conjunto de datos proporciona información detallada sobre empleo, ingresos, educación y características demográficas, lo que lo hace adecuado para el análisis.

En las siguientes secciones, describiremos el proceso de obtención y limpieza de los datos, realizaremos un análisis exploratorio y evaluaremos el poder predictivo de distintas especificaciones del modelo. Además, exploraremos cómo las técnicas de remuestreo como bootstrap contribuyen a una mejor estimación del error de predicción fuera de muestra.

### 1.1 General Instructions

In [4]:
#Filtro el df con edad +18 y que estén empleados

df_2 = df_1[(df_1["age"]>=18)&(df_1["ocu"]==1)].copy()

In [ ]:
df_2.shape

(16542, 178)

In [5]:
#Variable y_ingLab_m_ha debe ser la dependiente. Es el salario por hora.

df_2['y_ingLab_m_ha'].agg(['mean', 'median', 'std', 'min', 'max'])

print(df_1['y_ingLab_m_ha'].isna().sum())
print((df_1['y_ingLab_m_ha'] == 0).sum())

22213
0

In [6]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split


## 3 Predicting Wages

En este inciso,

In [ ]:
df_2.head()

In [8]:
df_2.rename(columns={'y_ingLab_m_ha': 'w'} , inplace=True)  # renombro dependiente
df_2.drop(columns=['Unnamed: 0', 'directorio', 'fex_c', 'fex_dpto', 'orden','dominio' ], inplace=True)


# saco predictores que creo no son relevantes
cols_to_drop = [col for col in df_2.columns if col.startswith('y_') | col.startswith('p') | col.startswith('i')]

# Elimine esas columnas
df_3 = df_2.drop(columns=cols_to_drop )

In [ ]:
df_3.drop(df_3)

In [ ]:
df_3.head()

In [15]:
df_3 = df_3.loc[:, ~df_3.columns.str.startswith('cclasnr')] #Eliminamos estas columnas porque son casi todas NaN

In [ ]:
df_3[['']].value_counts()

In [ ]:
df_3.columns.tolist()

**Estimación primer modelo**: \\
Agregamos la primer estimación. En este caso, lo hacemos de la forma más sencilla posible: Eliminamos todas las filas donde alguna de las variables tome el valor NaN. Para el caso de la variable salario, la cantidad de NaN asciende a 6650. Luego, la única variable que posee valores missing es "regSalud", de la cual también borramos las observaciones NaN.

In [72]:
from sklearn.metrics import mean_squared_error

In [61]:
#Columns x1 porque es la PRIMER ESTIMACION de las 10 q hay q hacer

#Incluyo también el w para borrar todos los missing
columns_x1 = ['w','age', 'sex', 'clase', 'depto', 'formal', 'maxEducLevel', 'oficio','relab', 'college', 'regSalud', 'totalHoursWorked', 'cuentaPropia', 'microEmpresa', 'sizeFirm']

X1 = df_3.loc[:, columns_x1].dropna()  #borro todos los missing

y1 = X1.loc[:, 'w'] # tomo variable dependiente
X1.drop('w', axis=1, inplace=True) #borro "w" de las variables independientes

In [63]:
X1.shape #chequeo que esté todo bien

(9308, 14)

In [ ]:
df_3['regSalud'].value_counts()

In [67]:
#contamos los NaN
np.isnan(y1).sum()

0

In [68]:
#Creamos las muestras de entrenamiento para el MODELO 1
X_train1, X_test1, y_train1, y_test1 = train_test_split(
                                        X1,
                                        y1,
                                        test_size=0.3,
                                        train_size=0.7,
                                        random_state = 123
                                    )  # split the sample into two

In [70]:
model1 =  LinearRegression().fit(X_train1, y_train1)
model1.coef_

array([ 2.30967433e+02,  2.02950658e+03,  6.82121026e-13,  0.00000000e+00,
        1.38370302e+03,  2.17008358e+03, -9.36883887e+01,  3.33035456e+02,
       -2.92350712e+03,  2.40608652e+02, -1.08930153e+02,  0.00000000e+00,
        1.64281666e+03,  1.67852318e+03])

In [71]:
y_hat_model1 = model1.predict(X_test1)

In [73]:
#calculamos MSE
mse1 = mean_squared_error(y_test1, y_hat_model1)
print(f'Mean Squared Error: {mse1}')

Mean Squared Error: 111311463.68210085

In [91]:
#Probamos con otro modelo: MODELO 2
model2 = LinearRegression().fit(X_train1[['sex', 'maxEducLevel', 'age', 'formal']], y_train1)
model2.coef_

array([ 774.13799102, 3873.7082012 ,  262.45946981, 3065.78833438])

In [93]:
y_hat_model2 = model2.predict(X_test1[['sex', 'maxEducLevel', 'age', 'formal']])
mse2 = mean_squared_error(y_test1, y_hat_model2)
print(f'Mean Squared Error: {mse2}')

Mean Squared Error: 120775145.97303028

In [89]:
#Creamos la variable cuadratica para predecir
X_train1['age2'] = X_train1['age'] ** 2
X_test1['age2'] = X_test1['age'] ** 2

#MODELO 3
model3 = LinearRegression().fit(X_train1[['sex', 'maxEducLevel', 'age', 'age2', 'formal']], y_train1)
model3.coef_

array([ 8.14863881e+02,  3.85434728e+03,  4.82097870e+02, -2.74213914e+00,
        2.87694314e+03])

In [90]:
y_hat_model3 = model3.predict(X_test1[['sex', 'maxEducLevel', 'age', 'age2', 'formal']])
mse3 = mean_squared_error(y_test1, y_hat_model3)
print(f'Mean Squared Error: {mse3}')

Mean Squared Error: 120548228.76421401